<h1>Sou a página de produtos!</h1>

<p>Listagem de produtos (<%= produtos.length %> produtos no total)</p>

<div class="modal fade" tabindex="-1" id="modalAtualizar">
	<div class="modal-dialog">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title">Atualizar Produto</h5>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
			<form>
				<div class="form-group">
					<label for="inputNome">Atualizar Nome</label>
					<input type="text" class="form-control" id="inputNomeModal" placeholder="Digite seu nome">
				  </div>
				  <div class="form-group">
					<label for="inputEmail">Atualizar Valor</label>
					<input type="number" class="form-control" id="inputValor" placeholder="Digite seu valor">
				</div>
			</form>
		
		<div class="modal-footer">
			<button type="button" class="btn btn-danger" data-dismiss="modal">
				<i class="bi bi-x-lg"></i>
				Cancelar
			</button>
			<button type="button" class="btn btn-success" onclick="editarProduto()">
				Salvar
				<i class="bi bi-save"></i>
			</button>
		</div>
	  </div>
	</div>
  </div>
</div>

<div class="modal fade" id="modalExcluir" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalExcluirLabel" aria-hidden="true">
	<div class="modal-dialog">
	  <div class="modal-content">
		<div class="modal-header">
		  <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
		  ...
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
		  <button type="button" class="btn btn-primary">Understood</button>
		</div>
	  </div>
	</div>
  </div>


<div class="container-fluid pt-3">
	<div class="row">
	<%
	for (let i = 0; i < produtos.length; i++) {
	%>

	<div class="col-md-6">
		<div class="card text-white mb-3" style="
			background-image: url('/public/img/produtos/<%= produtos[i].idproduto %>.jpg');
			background-size: cover;
			background-position: center;
		">
			<div class="card-body fundo-dark">
				<h5 class="card-title"><%= produtos[i].nome %></h5>
				<p class="card-text"><%= produtos[i].tipo %></p>
				<p class="card-text"><%= produtos[i].inclusao %></p>
				<p class="card-text"><%= produtos[i].marca %></p>
				<p class="card-text"><%= produtos[i].ean %></p>
				<hr>
				<p class="botao-editar">
					<button type "button" class="btn btn-outline-light btn py-1" onclick="abrirModalAtualizar('<%= produtos[i].idproduto %>')">
						<i class="bi bi-pencil-square"></i>
					</button>
					<button type "button" class="btn btn-outline-danger btn py-1 " data-bs-toggle="modal" data-bs-target="#modalExcluir" onclick="abrirModalExcluir('<%= produtos[i].idproduto %>')">
						<i class="bi bi-x-square"></i>
					</button>
				</p>
			</div>
		</div>
	</div>

	<%
	}
	%>

	</div>
</div>

<script>

	function abrirModalAtualizar(id) {
		document.getElementById("inputNomeModal").value = ""
		document.getElementById("inputValor").value = ""
		$("#modalAtualizar").modal("show")
	
	}
	function abrirModalExcluir(id) {
		document.getElementById("inputNomeModal").value = ""
		document.getElementById("inputValor").value = ""
		$("#modalExcluir").modal("show")
	
	}
	
	async function editarProduto() {
		await Swal.fire(
			'Cadastro',
			'Alteração criada com sucesso',
			'success'
		);
		window.location.reload();
	}

</script>