<!-- Modal de Atualização -->
<div class="modal fade" tabindex="-1" id="modalAtualizar">
	<div class="modal-dialog">
	  <form class="modal-content" id="formAtualizar">
		<div class="modal-header">
		  <h5 class="modal-title">Atualizar Produto</h5>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
		  <input type="hidden" id="idproduto" name="idproduto">
		  <div class="form-group">
			<label for="nome">Atualizar Nome</label>
			<input type="text" class="form-control" id="nome" name="nome" placeholder="Digite seu nome">
		  </div>
		  <div class="form-group">
			<label for="codigo">Atualizar Código</label>
			<input type="text" class="form-control" id="codigo" name="codigo" placeholder="Digite Código">
		  </div>
      <div class="form-group">
        <label for="idtipo">Atualizar Tipo de Produto</label>
        <select class="form-control" id="idtipo" name="idtipo">
          <option value="1">Salgados</option>
          <option value="2">Doces</option>
          <option value="3">Frios</option>
        </select>
        </div>
			<div class="form-group">
			  <label for="inclusao">Atualizar Data Inclusão</label>
			  <input type="date" class="form-control" id="inclusao" name="inclusao">
			</div>
		  <div class="form-group">
			<label for="marca">Atualizar Marca</label>
			<input type="text" class="form-control" id="marca" name="marca">
		  </div>
		  <div class="form-group">
			<label for="ean">Atualizar EAN</label>
			<input type="text" class="form-control" id="ean" name="ean" placeholder="Digite EAN">
		  </div>
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-danger" data-dismiss="modal">
			<i class="bi bi-x-lg"> CANCELAR</i>
		  </button>
		  <button type="submit" class="btn btn-primary">
			<i class="bi bi-save"> SALVAR</i>
		  </button>
		</div>
	  </form>
	</div>
</div>

<!-- Modal de filtragem -->
<div class="modal fade" id="modalFiltragem" tabindex="-1" role="dialog" aria-labelledby="modalFiltragemLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalFiltragemLabel">Filtragem de Produtos</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid pt-3 produtos">
          <div class="row">
            <div class="col">
              <div class="card bg-light" style="margin: 10px 10px 10px 0px; padding: 10px; max-width: 400px;">
                <div class="card-body">
                  <div class="form-group">
                    <label class="label-tipo" for="idtipofiltro">TIPO DE PRODUTO</label>
                    <select class="form-control" id="idtipofiltro">
                      <option value="0">Todos</option>
                      <% for (let i = 0; i < tipos.length; i++) { %>
                      <option value="<%- tipos[i].idtipo %>"><%= tipos[i].nome %></option>
                      <% } %>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary my-2" onclick="filtrar()">FILTRAR</button>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid pt-3 produtos">
  <div class="row" style="padding: 0 0 10px 15px;">
    <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#modalFiltragem">
      <i class="bi bi-funnel-fill filtro"></i>
    </button>
  </div>
  
  <div id="divProdutos" class="row">
    <% for (let i = 0; i < produtos.length; i++) { %>
    <div class="col-md-6 produto idtipo<%= produtos[i].idtipo %>">
      <div class="card text-white mb-3" style="
        background-image: url('/public/img/produtos/<%= produtos[i].idproduto %>.jpg');
        background-size: cover;
        background-position: center;
        border-radius: 1rem;
        ">
        <div class="card-body fundo-dark">
          <h5 class="card-title text-center titulo-card" id="nome"><%= produtos[i].nome %></h5>
          <p class="card-text"><span>CODI: </span> <%= produtos[i].codigo %></p>
          <p class="card-text"><span>TIPO: </span> <%= produtos[i].tipo %></p>
          <p class="card-text"><span>DATA: </span> <%= produtos[i].inclusao %></p>
          <p class="card-text"><span>MARCA: </span> <%= produtos[i].marca %></p>
          <p class="card-text" id="ean"><span>EAN: </span> <%= produtos[i].ean %></p>
          <hr>
          <p class="botao-editar">
            <button type="button" class="btn btn-outline-light btn py-1" onclick="abrirModalAtualizar('<%= produtos[i].idproduto %>')">
              <i class="bi bi-pencil-square"> EDITAR</i>
            </button>
            <button type="button" class="btn btn-outline-danger btn py-1" onclick="abrirModalExcluir('<%= produtos[i].idproduto %>')">
              <i class="bi bi-x-square"> EXCLUIR </i>
            </button>
          </p>
        </div>
      </div>
    </div>
    <% } %>
  </div>
</div>

<script src="/public/js/jquery-validate/jquery.validate.min.js"></script>
<script src="/public/js/jquery-validate/additional-methods.min.js"></script>
<script src="/public/js/jquery-validate/localization/messages_pt_BR.min.js"></script>

<script>
  function filtrar() {
    waitSwal();
    const idtipo = parseInt(document.getElementById("idtipofiltro").value);
    const divProdutos = document.getElementById("divProdutos");
    const produtos = divProdutos.querySelectorAll(".produto");
    const nomeClasse = "idtipo" + idtipo;

    for (let i = 0; i < produtos.length; i++) {

      if (!idtipo || produtos[i].classList.contains(nomeClasse)) {
        produtos[i].classList.remove("d-none");
      } else {
        produtos[i].classList.add("d-none");
      } 
    }
    $("#modalFiltragem").modal("hide")
    Swal.close();
   
  }

  async function abrirModalAtualizar(id) {
    let response = await fetch("/api/produto/obter?idproduto=" + id);

    if (!response.ok) {
      
      return;
    }

    let produto = await response.json();
    if (!produto) {

      return;
    }


    document.getElementById("idproduto").value = produto.idproduto;
    document.getElementById("nome").value = produto.nome;
    document.getElementById("codigo").value = produto.codigo;
    document.getElementById("inclusao").value = produto.inclusao;
    document.getElementById("idtipo").value = produto.idtipo;
    document.getElementById("marca").value = produto.marca;
    document.getElementById("ean").value = produto.ean;
    $("#modalAtualizar").modal("show")
  }

  async function abrirModalExcluir(id) {
    const result = await Swal.fire({
      title: 'Certeza ao excluir?',
      text: "Esta ação é irreversível!",
      icon: 'info',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Sim, quero excluir!',
      customClass: {
        icon: 'text-danger swal-icon'
      }
    });

    if (!result.isConfirmed)
      return;

    waitSwal();

    let response = await fetch("/api/produto/excluir?idproduto=" + id, {
      method: "DELETE"
    });

    if (response.ok) {
      await Swal.fire(
        'Exclusão',
        'Produto excluído',
        'warning'
      );
      window.location.reload();
    } else {
      await exibirErro(response);
    }
  }

  async function editar(form) {
    waitSwal();

    let response = await fetch("/api/produto/editar", {
      method: "post",
      body: new FormData(form)
    });

    if (response.ok) {
      await Swal.fire(
        'Atualização',
        'Produto alterado com sucesso',
        'success'
      );

      window.location.reload();
    } else {
      await exibirErro(response);
    }
  }

  $("#formAtualizar").validate({
    rules: {
      nome: {
        required: true
      },
      codigo: {
        required: true
      },
      inclusao: {
        required: true
      },
      idtipo: {
        required: true
      },
      marca: {
        required: true
      },
      ean: {
        required: true
      },
      imagem: {
        required: true
      }
    },
    submitHandler: function (form) {
      editar(form);
    }
  });
</script>
